<h1 align="center"> Welcome to the Viewing Party!</h1>
<h3 align="center">  This is a website to explore movies and schedule a time to watch them with your friends.</h3>

<center><%= link_to "Log In with Google", '/auth/google_oauth2' %></center>
